<h2> Lista de contatos </h2>

<p> - Para inserir um contato acesse a página Contato e preencha o formulário</p>
<p> - Para visualizar todos os contatos cadastrados acesse a página Sobre</p>
<p> - Para rastrear o comportamento dos usuários entre na página do relatório</p>

